:root {
  --font: "Montserrat", sans-serif;
  --white-color: #ffffff;
  --black-color: #000000;
  --grey-color: #e2e2e2;
}

* {
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font);
  background-color: var(--white-color);
  height: 100%;
  width: 100vw;
  padding: 10px;
}
